<div>
  <a id="mlh-trust-badge" href="https://mlh.io/seasons/na-2017/events?utm_source=na-2017&utm_medium=TrustBadge&utm_campaign=na-2017&utm_content=black" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2017/black.svg" alt="Major League Hacking 2017 Hackathon Season" style="width:100%"></a>
  <div id="registration-banner" class="parallax-container valign-wrapper">
    <div class="section">
      <h2 class="header center red-text text-darken-2">Registration</h2>
    </div>
    <div class="parallax"><%= image_tag "background1.jpg", alt: "unsplashed background img 1" %></div>
  </div>


  <div class="container">
    <div class="section">
    <input type="text" placeholder="Do you agree with MLH Rulez">
    <input id="name" maxlength="30" name="name" type="text" />
    <input id="tshirt_size" maxlength="1" name="tshirt_size" type="text" />
    <input id="food_restrictions" maxlength="30" name="food_restrictions" type="text" />
    <!-- Here I need to take in MLH user data and pass it into the ruby ORM -->
      <!--<%= button_to "Save To DB", :method=> "submitData", 
      class: "col s12 m2 btn-large waves-effect waves-light red darken-1 typeform-share",
      style: "float: left; display: inline-block" %>-->
      <%= button_to "Save To DB", "/submitData" %>
    </div>
  </div>
</div>