<!DOCTYPE html>
<html>
  <head>
    <title>Hack @ WPI</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="red-text text-darken-4 brand-logo">Hack @ WPI</a>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
